.ad-details
    width: 100%
    height: 80vh
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr 1fr
    grid-template-areas: "IMG IMG IMG DETAILS DETAILS" "IMG IMG IMG DETAILS DETAILS" "CARDETAILS CARDETAILS CARDETAILS DETAILS DETAILS" "CARDETAILS CARDETAILS CARDETAILS DETAILS DETAILS"
    background: #fff
.image
    grid-area: IMG
    padding: 20px

.details
    grid-area: DETAILS
    padding: 20px
    .ad-description
        max-height: 170px
        height: 170px
        width: 100%
        overflow-y: scroll
        display: flex
        p
            margin-top: 10px
            align-self: flex-start
            justify-self: flex-start
    .price
        align-self: flex-end
        border: none
        font-size: 1.5rem
        color: red
        margin: 15px
    button
        padding: 10px
        width: 300px
        margin-bottom: 10px
    .owner-info
        align-self: flex-start
        margin: 5px
        a
            text-decoration: underline
            color: blue
            cursor: pointer

.divider
    width: 100%
    height: 1px
    margin-top: 10px
    background: grey

.car-details
    grid-area: CARDETAILS
    width: 100%
    height: 100%
    padding: 20px
    position: relative
    .car-details-section
        width: 50%
        height: 100%
        .car-details-section-item
            width: 100%
            display: flex
            margin: 10px
            .title
                width: 40%
                align-self: flex-start
            .content
                width: 60%
                align-self: flex-end

@media screen and(max-width: 960px)
    .ad-details
        height: 200vh
        grid-template-columns: 1fr
        grid-template-rows: 1fr 1fr 1fr
        grid-template-areas: "IMG" "DETAILS" "CARDETAILS"

@media screen and(max-width: 960px)
    .image
        img
            width: 100%
    .details
        border-bottom: 1px solid grey

@media screen and(max-width: 660px)
    .car-details
        flex-direction: column !important
        .car-details-section
            width: 100%
    .image
        img
            width: 100%
            height: 80%

@media screen and ( max-width: 450px)
    .image
        img
            height: 60%
