<div class="container" fxLayoutAlign="center center">
    <div class="profile-card" fxLayout.lt-md="column" fxLayout="row">

        <img [src]="imageUrl" />
        <app-loading-spinner class="img-loadingSpinner" *ngIf="showImageLoadingSpinner == true">
        </app-loading-spinner>
        <div class="img-section" fxLayout="column">
            <a (click)="fileInput.click()">Change picture</a>
            <a>Edit picture</a>
            <input hidden (change)="changePhoto()" #fileInput type="file" id="file">
        </div>
        <div class="user-details-section" fxLayout="column" fxLayoutAlign.lt-md="start center"
            fxLayoutAlign="start start">
            <app-loading-spinner *ngIf="showLoadingSpinner == true">
            </app-loading-spinner>
            <h1>{{userData.Name}} {{userData.LastName}}</h1>
            <h2>{{userData.UserName}}</h2>
            <p>{{userData.Email}}</p>
            <p class="error-msg" *ngIf="userData.EmailConfirmed == false"> You hasn't confimed your email yet.
            </p>
            <button *ngIf="userService.isAdmin" class="admin-btn" mat-raised-button color="primary"
                (click)="goToAdminPanel()">Administration
                Panel</button>

            <mat-tab-group class="sections-switcher" mat-align-tabs="start">
                <mat-tab label="Account">
                    <div class="section" id="account-settings" fxLayout="column" fxLayoutAlign="start start">
                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Personal data
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Edit your data
                                        <mat-icon>account_circle</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <form [formGroup]="editUserDataForm" (ngSubmit)="editUserData()">
                                    <p class="error-msg" *ngIf="showUpdatingError == true">{{errorMessage}}</p>
                                    <mat-form-field>
                                        <mat-label>First name</mat-label>
                                        <input formControlName="name" matInput type="text" autocomplete="off">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Last name</mat-label>
                                        <input formControlName="lastName" matInput type="text" autocomplete="off">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Username</mat-label>
                                        <input formControlName="username" matInput type="text" autocomplete="off">

                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Email</mat-label>
                                        <input formControlName="email" matInput type="email" autocomplete="off">
                                        <mat-error *ngIf="editUserDataForm.get('email').hasError('email')">
                                            Please provide a <strong>valid</strong> email adress
                                        </mat-error>
                                    </mat-form-field>
                                    <button type="submit" mat-raised-button color="primary">Save</button>
                                </form>

                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Password
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Reset your password
                                        <mat-icon>vpn_key</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <form [formGroup]="editPasswordForm" (ngSubmit)="changePassword()">
                                    <mat-form-field>
                                        <mat-label>Old password</mat-label>
                                        <input formControlName="oldPassword" matInput type="password"
                                            autocomplete="off">
                                        <mat-error *ngIf="editPasswordForm.get('oldPassword').hasError('required')">
                                            Old Password is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>New password</mat-label>
                                        <input formControlName="password" matInput type="password" autocomplete="off">
                                        <mat-error *ngIf="editPasswordForm.get('password').hasError('required')">
                                            New Password is <strong>required</strong>
                                        </mat-error>
                                        <mat-error *ngIf="editPasswordForm.get('password').errors?.minlength">
                                            Password should be atleast <strong>7</strong> characters long
                                        </mat-error>
                                        <mat-error *ngIf="editPasswordForm.get('password').errors?.maxlength">
                                            Password shouldn't be longer than <strong>20</strong> characters
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Confirm new password</mat-label>
                                        <input formControlName="confirmPassword" matInput type="password"
                                            autocomplete="off">
                                        <mat-error *ngIf="editPasswordForm.get('confirmPassword').hasError('required')">
                                            Confirm Password is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    <p class="error-msg" *ngIf="editPasswordForm.hasError('passwordsMatchesValidator')">
                                        Provided passwords are not the same
                                    </p>
                                    <button [disabled]="!editPasswordForm.valid" style="margin-left: 10px;"
                                        mat-raised-button color="primary">
                                        Reset password
                                    </button>
                                </form>

                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </mat-tab>
                <mat-tab label="My Adverts">
                    <div class="section user-ads-section" *ngIf="adsDataSource != null">
                        <table mat-table [dataSource]="adsDataSource" style="width: 100%;">

                            <ng-container matColumnDef="Title">
                                <th mat-header-cell *matHeaderCellDef> Title </th>
                                <td mat-cell *matCellDef="let element"> {{element.Title.substring(0,14)}}... </td>
                            </ng-container>

                            <ng-container matColumnDef="Price">
                                <th mat-header-cell *matHeaderCellDef> Price </th>
                                <td mat-cell *matCellDef="let element"> {{element.ShopItem.Price}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Placed">
                                <th mat-header-cell *matHeaderCellDef> Placed </th>
                                <td mat-cell *matCellDef="let element"> {{element.Placed}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>


                    </div>

                </mat-tab>
                <mat-tab label="Bought">Content 3</mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>