<footer class="footer" fxLayout.gt-sm="row" fxLayout.lt-md="column">
    <div class="footer-content-first" fxLayoutAlign="center center">
        <span>Created by Adrian Gajewski, Copyrights &copy; 2020</span>
    </div>
    <div class="footer-content-second"  fxLayout="column" fxLayoutAlign="start center" >
        <div class="footer-content-second-upper-content">
            <span>Contact to Developer</span>
        </div>
        <div class="footer-content-second-bottom-content" fxLayout="row">
            <span>Phone number: 507 337 369</span>
            <span>Email: adrian.gajewski001@gmail.com</span>
        </div>
    </div>
    <div class="footer-content-third" fxLayoutAlign="end center">
      <a href=""><img src="../../assets/icons/linkedin-icon.png" alt="Linkedin icon"></a> 
      <a href=""><img src="../../assets/icons/facebook-icon.png" alt="Facebook icon"></a>  
      <a href=""><img src="../../assets/icons/github-icon.png" alt="GitHub icon"></a>  
    </div>
</footer>
