<div class="ad-container" fxLayout="row">
    <div class="left-content">
        <div class="upper-section" fxLayoutAlign="start center" fx>
            <img src="https://thumbs.img-sprzedajemy.pl/1000x901c/d2/4f/f4/bmw-e36-coupe-swap-25-m52tu-wspomaganie-kierownicy-warszawa-sprzedam-517435250.jpg"
                alt="Item Image">
            <div class="item-overview" fxLayoutAlign='start start' fxLayout="column">
                <h1>BMW E46</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum.</p>
                <span><strong>Price:</strong> 2200$</span>
            </div>
        </div>
        <div class="lower-section">
            <ul class="author-details-section">
                <li>
                    <p>Author: AdrianDev</p>
                </li>
                <li>
                    <p>AuthorID: sadfsfdsdaf5454sfadfsadf45f4sad</p>
                </li>
                <li>
                    <p>AdvertisementID: 15</p>
                </li>
                <li>
                    <p>ItemID: 22</p>
                </li>
                <li>
                    <p>Placed: 21/07/2020</p>
                </li>
            </ul>
            <div class="actions">
                <button mat-button mat-raised-button color="primary">Edit</button>
                <button mat-button mat-raised-button color="warn">Delete</button>
            </div>
        </div>
    </div>
    <div class="right-content" fxLayout="column">
        <h1>Details</h1>
        <ul class="details-list">
            <li class="details-item">
                <p class="details-item-A">Car Brand</p>
                <p class="details-item-B">BWM</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">Car Model</p>
                <p class="details-item-B">E46</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">Car Type</p>
                <p class="details-item-B">Sedan</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">Gearbox</p>
                <p class="details-item-B">Manual</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">Fuel</p>
                <p class="details-item-B">Petrol</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">Production Year</p>
                <p class="details-item-B">2001</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">Cubic Capacity (m3)</p>
                <p class="details-item-B">E46</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">HP</p>
                <p class="details-item-B">150</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">FuelConsumption (l/100km)</p>
                <p class="details-item-B">12</p>
            </li>
        </ul>
    </div>
</div>