<div class="ad-container" fxLayout="row">
    <div class="left-content">
        <div class="upper-section" fxLayoutAlign="start center" fx>
            <img [src]="imageUrl" alt="Item Image">
            <div class="item-overview" fxLayoutAlign='start start' fxLayout="column">
                <h1>{{model.Title}}</h1>
                <p>{{model.Description}}</p>
                <span><strong>Price:</strong> 2200$</span>
            </div>
        </div>
        <div class="lower-section">
            <ul class="author-details-section">
                <li>
                    <p>Author: {{model.Author.Name}}</p>
                </li>
                <li>
                    <p>AuthorID: {{model.AuthorID}}</p>
                </li>
                <li>
                    <p>AdvertisementID: {{model.ID}}</p>
                </li>
                <li>
                    <p>ItemID: {{model.ShopItem.ID}}</p>
                </li>
                <li>
                    <p>Placed: {{model.Placed}}</p>
                </li>
            </ul>
            <div class="actions">
                <button mat-button mat-raised-button color="primary" (click)="editAdvert()">Edit</button>
                <button mat-button mat-raised-button color="warn" (click)="deleteAd()">Delete</button>
            </div>
        </div>
    </div>
    <div class="right-content" fxLayout="column">
        <h1>Details</h1>
        <ul *ngIf="item == 'Car'" class="details-list">
            <li class="details-item">
                <p class="details-item-A">Car Brand</p>
                <p class="details-item-B">{{car.CarBrand }}</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">Car Model</p>
                <p class="details-item-B">{{car.CarModel}}</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">Car Type</p>
                <p class="details-item-B">{{car.CarType}}</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">Gearbox</p>
                <p class="details-item-B">{{car.Gearbox}}</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">Fuel</p>
                <p class="details-item-B">{{car.Fuel}}</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">Production Year</p>
                <p class="details-item-B">{{car.YearOfProduction}}</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">Cubic Capacity (m3)</p>
                <p class="details-item-B">{{car.CubicCapacity}}</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">HP</p>
                <p class="details-item-B">{{car.HorsePower}}</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">FuelConsumption (l/100km)</p>
                <p class="details-item-B">{{car.FuelConsumption}}</p>
            </li>
        </ul>
        <ul *ngIf="item == 'Motocycle'" class="details-list">
            <li class="details-item">
                <p class="details-item-A">Motocycle Brand</p>
                <p class="details-item-B">{{motocycle.MotocycleBrand }}</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">Motocycle Model</p>
                <p class="details-item-B">{{motocycle.MotocycleModel}}</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">Fuel</p>
                <p class="details-item-B">{{motocycle.Fuel}}</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">Production Year</p>
                <p class="details-item-B">{{motocycle.YearOfProduction}}</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">Cubic Capacity (m3)</p>
                <p class="details-item-B">{{motocycle.CubicCapacity}}</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">HP</p>
                <p class="details-item-B">{{motocycle.HorsePower}}</p>
            </li>
            <li class="details-item">
                <p class="details-item-A">FuelConsumption (l/100km)</p>
                <p class="details-item-B">{{motocycle.FuelConsumption}}</p>
            </li>
        </ul>
    </div>
</div>