<div fxLayout="row" class="navbar">
    <div fxLayoutAlign="center center" class="navbar-brand">
        <img src="../../assets/images-layout/Logo.png" alt="Logo">
    </div>
    <div fxLayoutAlign="center center" class="searchbox">
        <input type="text" placeholder="Search...">
        <mat-icon class="search-icon" aria-hidden="false" aria-label="Example home icon">search</mat-icon>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="nav-links">
        <ul fxLayout="row" fxLayoutGap="30px">
            <li class="nav-link"><a href="#">Home</a></li>
            <li class="nav-link"><a href="#">Cart</a></li>
            <li fxLayoutAlign="center center" class="signInUpButton"><a href="#">SignIn/Up</a></li>
        </ul>
    </div>
</div> 