<div class="card" fxLayout="column" fxLayoutAlign="start center">
    <h1 (click)="goToDetails()">{{advertisement.Name}}</h1>
    <app-image-slider [ShowNavigationMenu]="true" [ImagesUrls]="slides"></app-image-slider>
    <div (click)="goToDetails()" class="details" fxLayoutAlign="center center" fxLayout="column">
        <p>
            {{advertisement.HP}}HP | {{advertisement.CubicCapacity}}cm3 |
            {{advertisement.Mileage}} | {{advertisement.Gearbox}} |
            {{advertisement.BodyType}}
        </p>
    </div>
    <h3>{{advertisement.Price}}$</h3>
</div>