@import "./app/Sass/variables"
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
@import "~@angular/material/prebuilt-themes/indigo-pink.css"
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel'
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default'

*
    font-family: 'Montserrat', sans-serif
    margin: 0
    padding: 0
    box-sizing: border-box

body
    position: relative
    overflow-x: hidden
    width: 100%
    min-height: 100vh
    background: #000
.container
    height: 100%
    width: 100%
    padding: 20px

.form-container
    width: 400px
    height: 400px
    background-color: #f0f0f0
    border-radius: 20px
    padding: 20px
    transform: translateX(-300%)

.form
    margin-top: 40px

.form-input
    width: 200px
    border-color: $primaryYelow

.btn-submit
    margin-top: 50px
    padding: 20px
    border-style: none
    background-color: $primaryYelow
    color: #000000
    font-size: 1.4rem
    border-radius: 30px
    outline: none
    cursor: pointer
    transition: all 0.3s ease-in-out

.btn-submit:hover
    background-color: #9E8328
    transition: all 0.3s ease-in-out

.btn-submit:active
    background-color: $primaryGrey
    transition: all 0.3s ease-in-out

.form-bottom-text
    font-size: 0.8rem
    a
        cursor: pointer

.error-msg
    font-size: 0.7rem
    color: red

.msg-container
    width: 80%
    background-color: $primaryYelow
    padding: 10px
    border-radius: 10px
