<div class="image_Slider-container">
    <div class="image_Slider-content">
        <img *ngFor="let image of Images" class="img" [src]="image">

        <button class="arrow-btn right" (click)="nextImage()"><img src="../../assets/images-layout/arrow-right.png"
                alt=""></button>
        <button class="arrow-btn left" (click)="previousImage()"><img src="../../assets/images-layout/arrow-left.png"
                alt=""></button>
    </div>
    <div *ngIf="ShowNavigationMenu == true" class="image_Slider-nav">
        <ul class="nav-list">
        </ul>
    </div>
</div>