<div class="container" fxLayout="column" fxLayoutAlign="start center">
    <div class="msg-container" fxLayoutAlign="center center">
        <h3>Provide a email adress linked to your account and new password. We will send you a
            verification message.
        </h3>
    </div>
    <app-loading-spinner *ngIf="showLoadingSpinner == true"></app-loading-spinner>
    <form fxLayoutAlign="center center" class="forgot-password-form" [formGroup]="form" (ngSubmit)="onSubmit()"
        fxLayout="column">
        <mat-form-field class="form-input">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput autocomplete="off" placeholder="Email" />
            <mat-error *ngIf="form.get('email').hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('email').hasError('email')">
                Provide a valid <strong>email</strong> adress
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-input">
            <mat-label>Password</mat-label>
            <input formControlName="newPassword" type="password" matInput autocomplete="off"
                placeholder="New Password" />
            <mat-error *ngIf="form.get('newPassword').hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('newPassword').errors?.minlength">
                Password should be atleast <strong>7</strong> characters long
            </mat-error>
            <mat-error *ngIf="form.get('newPassword').errors?.maxlength">
                Password shouldn't be longer than <strong>20</strong> characters
            </mat-error>
        </mat-form-field>
        <button [disabled]="!form.valid" class="btn-submit" type="submit">Reset Password</button>
    </form>
</div>