<div fxLayoutAlign="center start" class="container">
    <div [@slideInOut]="animationState" class="form-container administration-panel">
        <div class="side-menu" fxLayoutAlign="center start">
            <div class="header">
                <h1>Moto Shop</h1>
                <div class="menu" fxLayoutAlign="start start" fxLayout="column">
                    <div class="menu-item" fxLayoutAlign="start center">
                        <img src="../../assets/icons/users.png" alt="users icon">
                        <a (click)="switchTabs('users', false)">Users</a>
                    </div>
                    <div class="menu-item" fxLayoutAlign="start center">
                        <img src="../../assets/icons/products.png" alt="users icon">
                        <a (click)="switchTabs('products', false)">Products</a>
                    </div>
                    <div class="menu-item" fxLayoutAlign="start center">
                        <img src="../../assets/icons/services.png" alt="users icon">
                        <a (click)="switchTabs('services', false)">Services</a>
                    </div>
                    <div class="menu-item" fxLayoutAlign="start center">
                        <img src="../../assets/icons/server.png" alt="users icon">
                        <a (click)="switchTabs('server', false)">Server</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-bar" fxLayoutAlign="center center">
            <h2>Administrator dashboard</h2>
        </div>
        <div class="main-content">
            <section id="users" class="section">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                </mat-form-field>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="Id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element" #tooltip="matTooltip" class="table-item"
                            (click)="goToUserDetails(element.Id)" [matTooltip]="element.Id"
                            [matTooltipPosition]="tooltipPosition" matTooltipHideDelay="1000"
                            matTooltipClass="example-tooltip-red">
                            {{element.Id.substring(0,8)}}... </td>
                    </ng-container>

                    <ng-container matColumnDef="Username">
                        <th mat-header-cell *matHeaderCellDef> Username </th>
                        <td mat-cell *matCellDef="let element" class="table-item"> {{element.UserName.substring(0,10)}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element" class="table-item"> {{element.Name.substring(0,8)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell class="table-item" *matCellDef="let element" #tooltip="matTooltip"
                            [matTooltip]="element.Email" [matTooltipPosition]="tooltipPosition"
                            matTooltipHideDelay="1000" matTooltipClass="example-tooltip-red">
                            {{element.Email.substring(0,8)}}... </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>
            </section>
            <section id="products" class="section">
                <h1>Products</h1>
            </section>
            <section id="services" class="section">
                <h1>Services</h1>
            </section>
            <section id="server" class="section">
                <h1>Server</h1>
            </section>
        </div>
    </div>
</div>