<div fxLayoutAlign="center start" class="container">
    <div [@slideInOut]="animationState" class="form-container administration-panel">
        <div class="side-menu" fxLayoutAlign="center start">
            <div class="header">
                <h1>Moto Shop</h1>
                <div class="menu" fxLayoutAlign="start start" fxLayout="column">
                    <div class="menu-item" fxLayoutAlign="start center">
                        <img src="../../assets/icons/users.png" alt="users icon">
                        <a (click)="switchTabs('users', false)">Users</a>
                    </div>
                    <div class="menu-item" fxLayoutAlign="start center">
                        <img src="../../assets/icons/products.png" alt="users icon">
                        <a (click)="switchTabs('products', false)">Products</a>
                    </div>
                    <div class="menu-item" fxLayoutAlign="start center">
                        <img src="../../assets/icons/services.png" alt="users icon">
                        <a (click)="switchTabs('services', false)">Services</a>
                    </div>
                    <div class="menu-item" fxLayoutAlign="start center">
                        <img src="../../assets/icons/server.png" alt="users icon">
                        <a (click)="switchTabs('server', false)">Server</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-bar" fxLayoutAlign="center center">
            <h2>Administrator dashboard</h2>
        </div>
        <div class="main-content">
            <mat-spinner *ngIf="showLoadingSpinner == true" class="progressSpinner"></mat-spinner>
            <section id="users" class="section">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                </mat-form-field>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="Id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element" #tooltip="matTooltip" class="table-item"
                            (click)="goToUserDetails(element.Id)" [matTooltip]="element.Id"
                            [matTooltipPosition]="tooltipPosition" matTooltipHideDelay="1000"
                            matTooltipClass="example-tooltip-red">
                            {{element.Id.substring(0,8)}}... </td>
                    </ng-container>

                    <ng-container matColumnDef="Username">
                        <th mat-header-cell *matHeaderCellDef> Username </th>
                        <td mat-cell *matCellDef="let element" class="table-item"> {{element.UserName.substring(0,10)}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element" class="table-item"> {{element.Name.substring(0,8)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell class="table-item" *matCellDef="let element" #tooltip="matTooltip"
                            [matTooltip]="element.Email" [matTooltipPosition]="tooltipPosition"
                            matTooltipHideDelay="1000" matTooltipClass="example-tooltip-red">
                            {{element.Email.substring(0,8)}}... </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>
            </section>
            <section id="products" class="section">
                <div class="products-container" fxLayoutAlign="start center" fxLayout="column">
                    <div class="products-cards-btns" fxLayout="row">
                        <mat-form-field class="search-input">
                            <mat-label>Search by Id</mat-label>
                            <input type="email" [(ngModel)]="searchQuery" matInput
                                placeholder="Type advertisement id...">
                        </mat-form-field>
                        <button mat-mini-fab color="basic" aria-label="Example icon button with a bookmark icon"
                            (click)="search()">
                            <mat-icon>search</mat-icon>
                        </button>
                        <mat-form-field class="dataType-input">
                            <mat-label>Data Type</mat-label>
                            <select matNativeControl [(ngModel)]="dataType">
                                <option value="Id" selected>Id</option>
                                <option value="Title">Title</option>
                            </select>
                        </mat-form-field>
                    </div>

                    <table class="products-table">
                        <tr class="table-header">
                            <th>ID</th>
                            <th>Title</th>
                            <th>AuthorID</th>
                        </tr>
                        <tr class="table-content" *ngFor="let ad of currentAdvertisements" (click)="goToDetails(ad.ID)">
                            <td>
                                {{ad.ID}}
                            </td>
                            <td>
                                {{ad.Title}}
                            </td>
                            <td>
                                {{ad.AuthorID}}
                            </td>
                        </tr>
                    </table>
                    <div class="paginator">
                        <button mat-button mat-raised-button color="basic" (click)="previousPage()">Previous
                            Page</button>
                        <p>{{pageNumber}}-{{totalPages}}</p>
                        <button mat-button mat-raised-button color="warn" (click)="nextPage()">Next Page</button>
                    </div>
                </div>
            </section>
            <section id="services" class="section">
                <h1>Services Are not implemented yet :(</h1>
            </section>
            <section id="server" class="section">
                <div *ngIf="serverHealth != undefined" fxLayout="row">
                    <app-server-health-item *ngFor="let entry of serverHealth.Entries" [model]="entry">
                    </app-server-health-item>
                </div>
                <div fxLayout="row" class="serverHealth-actions">
                    <button mat-button mat-raised-button color="warn" (click)="seedDatabase()">Seed
                        Database</button>
                    <button mat-button mat-raised-button color="basic" (click)="refresh()">
                        Refresh</button>
                </div>
            </section>
        </div>
    </div>
</div>