.find-dc-section
    width: 100%
    height: 50vh
    background-image: url("src/assets/images-layout/homePageMainImage.jpg")
    background-position: center
    .search-form
        width: 40%
        height: 100%
    .dsc
        padding: 2rem
        text-transform: uppercase
        letter-spacing: 2px
        width: 60%
        height: 100%
        h1
            margin-bottom: 0.5rem

.form-src
    padding: 1rem
    width: 30rem
    height: 20rem
    background: #fff
    .form-item
        width: 100%
        height: 3.5rem
        margin-bottom: 20px
        .select-input
            padding: 0.7em
            margin-right: 0.3rem
            background: #fff !important

.small-input-group
    width: 50%
    input
        width: 40%
        padding: 0.5em
        margin-right: 0.3rem
