<div class="container-homepage" fxLayout="column">
    <section class="home-dc-section" fxLayout="row" fxLayout.lt-md="column">
        <div class="form-container-home">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Cars">
                    <div class="tab-form-container" fxLayoutAlign="center center">
                        <form class="tab-form" [formGroup]="carFilterForm" (ngSubmit)="search()" fxLayout="column">
                            <div class="form-input-container" fxLayoutAlign="center center">
                                <select class="select-input" formControlName="brand" (change)="onSelection('brand')">
                                    <option>Select Brand</option>
                                    <option *ngFor="let brand of brands">{{brand}}</option>
                                </select>
                                <select class="select-input" formControlName="model" (change)="onSelection('model')">
                                    <option>Select Model</option>
                                    <option *ngFor="let model of models">{{model}}</option>
                                </select>
                            </div>
                            <div class="form-input-container" fxLayoutAlign="center center">
                                <select class="select-input" formControlName="gearbox"
                                    (change)="onSelection('gearbox')">
                                    <option>Gearbox</option>
                                    <option *ngFor="let gearbox of gearboxes">{{gearbox}}</option>
                                </select>
                                <select class="select-input" formControlName="fuelType">
                                    <option>Fuel Type</option>
                                    <option *ngFor="let fuel of fuels">{{fuel}}</option>
                                </select>
                            </div>
                            <span>Price</span>
                            <div class="form-input-container" fxLayoutAlign="center center">
                                <input class="select-input" mat-input type="number" placeholder="From..."
                                    formControlName="fromPrice" />
                                <input class="select-input" mat-input type="number" placeholder="To..."
                                    formControlName="toPrice" />
                            </div>
                            <span>Year of Production</span>
                            <div class="form-input-container" fxLayoutAlign="center center">
                                <input class="select-input" mat-input type="number" placeholder="From..."
                                    formControlName="fromProductionYear" />
                                <input class="select-input" mat-input type="number" placeholder="To..."
                                    formControlName="toProductionYear" />
                            </div>
                            <span>Mileage</span>
                            <div class="form-input-container" fxLayoutAlign="center center">
                                <input class="select-input" mat-input type="number" placeholder="From..."
                                    formControlName="fromMileage" />
                                <input class="select-input" mat-input type="number" placeholder="To..."
                                    formControlName="toMileage" />
                            </div>
                            <div class="form-input-container" fxLayoutAlign="center center">
                                <button mat-raised-button color="primary">Search</button>
                            </div>
                        </form>
                    </div>
                </mat-tab>
                <mat-tab label="Motocycles">Content 2</mat-tab>
                <mat-tab label="Parts">Content 3</mat-tab>
            </mat-tab-group>
        </div>
        <div class="welcome-section" fxLayout="column" fxLayoutAlign="start center">
            <h1>Find Your Dream Car</h1>
            <p>Choose from over 100 000 available cars for sale</p>
        </div>
    </section>
    <section class="top-section">
        <div class="header" fxLayout="row" fxLayoutAlign="center center">
            <img src="../../assets/icons/sportsCarsIcon.png">
            <h1>Top Sport Cars</h1>
        </div>
        <div class="content" fxLayoutAlign="center start" fxLayout="row">
            <div class="card" fxLayout="column" fxLayoutAlign="start center">
                <h1>BMW E46</h1>
                <img src="../../assets/images-layout/CarImage.jpg">
                <div class="details" fxLayoutAlign="center center">
                    <p>
                        150HP | 250 000 Mileage <br>
                        Manual | Sedan | 1993cm3
                    </p>
                </div>
                <h3>23 000$</h3>
            </div>
        </div>
    </section>

</div>